header {
  background-color: #060606;
  height: 80px;
  display: flex;
  place-items: center;
  z-index: 10;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}


header #menu-burguer {
  background-color: #141414;
  padding: 10px;
  border-radius: 2px;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}


header #menu-burguer i {
  font-size: 24px;
  color: white;
  cursor: pointer;
  display: none;
}

header #menu-burguer>input {
  display: none;
}






header #menu-burguer:has(:checked) .open {
  display: none;
}

header #menu-burguer:has(:checked) .close {
  display: initial;
}


header .container h2 {
  color: white;
  font-size: 24px;
  text-transform: uppercase;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
}

header nav ul a {
  padding: 10px 20px;
  color: white;
  transition: all .25s linear;
  font-family: 'Poppins';
}

header a#contato {
  background: orangered;
  color: rgb(34, 19, 1);
  font-weight: 500;
}

header nav ul a:hover,
header a#contato:hover {
  background: white;
  color: black;
}


@media (max-width:768px) {
  header {
    height: auto;
    position: sticky;
    top: 0;
    box-shadow: 0px 2px 200px #292828;
    border-bottom: 1px solid #1b1b1b;
  }

  header .container {
    padding: 0;
    flex-wrap: wrap;
    padding: 10px 20px;
  }

  header #menu-burguer {
    display: flex;
  }

  header #menu-burguer i.open {
    display: initial;
  }

  header #menu-burguer:has(:checked)~nav {
    display: block;
  }

  header .container h2 {
    flex: 1;
    font-size: 18px;
  }

  header nav {
    padding-top: 20px;
    width: 100%;
    display: none;
  }

  header nav ul {
    flex-direction: column;
  }

  header nav ul a {
    display: block;
    font-size: 14px;
    text-align: center;
  }

  header nav ul a#contato {
    background: none;
    color: white;
  }
}