#s-hero {
  background-color: #010101;
}

#s-hero .container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 24px;
}

#s-hero .left {
  flex: 1;
  color: white;
  padding: 40px;
  width: max-content;
  background-color: #060606;
  flex-basis: 500px;

}

#s-hero .left h1 {
  margin-bottom: 30px;
}

#s-hero .left p {
  line-height: 1.75;
  color: #b2b2b2;
}

#s-hero .left p+p {
  margin-top: 12px;
}

#s-hero .right {
  flex: 1 1 400px;
}


#s-hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#s-hero .hero-img-2 {
  display: none;
}

#s-hero button {
  margin-top: 10px;
  cursor: pointer;
}



@keyframes flutuar {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}



@media screen and (max-width:768px) {
  #s-hero .hero-img-2 {
    display: block;
    animation: flutuar 3s ease-in-out infinite;
  }

  #s-hero .hero-img-1 {
    display: none;
  }
}

@media screen and (max-width:560px) {
  #s-hero .left h1 {
    font-size: 25px;
  }
}